.sticky__accordion {
	position: sticky;
	top: 0;
}

.account__dropdown {
	font-size: 24px;
}

.accounts-total {
	z-index: 1000;
	position: absolute;
	right: 15%;
	top: 12px;
	font-size: 24px;
}

.account__data {
	font-size: 24px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.account__data__name {
	color: #56638a;
	font-weight: 600;
}

.account__data__value {
	color: #56638a;
	background-color: #fafafa;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	font-weight: 600;
}

.border__bottom {
	border-bottom: 1px solid #56638a;
}
