.account__header {
	position: relative;
}

.account__header__main {
	/* position: sticky; */
	padding: 20px 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #56638a;
	color: white;
}

.account__header__main > h1 {
	font-size: 58px;
}

.user__icon {
	border-radius: 50%;
	cursor: pointer;
}

.user__select {
	position: absolute;
	z-index: 10;
	top: 15px;
	right: 80px;
	border-radius: 8px;
	width: 15%;
	max-width: 120px;
	min-width: 120px;
	background: white;
	opacity: 90%;
}

.user__select > * {
	text-align: center;
	font-weight: 600;
}

.user__select__title {
	color: white;
	border-radius: 8px 8px 0 0;
	font-size: 20px;
	background-color: #ff686b;
	padding: 5px 0;
}

.user__select__name {
	margin-top: 10px 0;
	cursor: pointer;
	padding: 15px 0;
}

.user__select__name:last-child {
	border-radius: 0 0 8px 8px;
}

.user__select__name:hover {
	background-color: lightgrey;
	transition: all .3s;
}

.user-menu-enter {
	opacity: 0;
}

.user-menu-enter-active {
	opacity: .9;
	transition: opacity 200ms;
}

.user-menu-exit {
	opacity: .9;
}
.user-menu-exit-active {
	opacity: 0;
	transition: opacity 200ms;
}
